.rm-settings-panel .bp3-slider {
  max-width: 200px;
  margin-left: 10px;
}

.block-highlight-blue {
  background-color: #53a0ff7e; /* #53a1ffb7 */
  border-radius: 5px;
}

.roam-app.read-ls-002 {
  letter-spacing: 0.02rem;
  word-spacing: 0.04rem;
}
.roam-app.read-ls-004 {
  letter-spacing: 0.04rem;
  word-spacing: 0.08rem;
}
.roam-app.read-ls-006 {
  letter-spacing: 0.06rem;
  word-spacing: 0.12rem;
}
.roam-app.read-ls-008 {
  letter-spacing: 0.08rem;
  word-spacing: 0.16rem;
}
.roam-app.read-ls-010 {
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}

.roam-app.read-lh-16 .roam-block {
  line-height: 1.6rem;
  margin-bottom: 1px;
}
.roam-app.read-lh-17 .roam-block {
  line-height: 1.7rem;
  margin-bottom: 2px;
}
.roam-app.read-lh-18 .roam-block {
  line-height: 1.8rem;
  margin-bottom: 3px;
}
.roam-app.read-lh-19 .roam-block {
  line-height: 1.9rem;
  margin-bottom: 4px;
}
.roam-app.read-lh-20 .roam-block {
  line-height: 2rem;
  margin-bottom: 5px;
}

.read-focus.rf-0 .roam-sidebar-container,
.read-focus.rf-0 .rm-title-display,
.read-focus.rf-0 .rm-topbar,
.read-focus.rf-0 .rm-zoom,
.read-focus.rf-0 .rm-ref-page-view-title,
.read-focus.rf-0 #right-sidebar,
.read-focus.rf-0 .window-headers,
.read-focus.rf-0 .rm-sidebar-window__controls {
  opacity: 0;
}
.read-focus.rf-003 .roam-sidebar-container,
.read-focus.rf-003 .rm-topbar,
.read-focus.rf-003 .rm-title-display,
.read-focus.rf-003 .rm-zoom,
.read-focus.rf-003 .rm-ref-page-view-title,
.read-focus.rf-003 #right-sidebar,
.read-focus.rf-003 .window-headers,
.read-focus.rf-003 .rm-sidebar-window__controls {
  opacity: 0.03;
}
.read-focus.rf-005 .roam-sidebar-container,
.read-focus.rf-005 .rm-topbar,
.read-focus.rf-005 .rm-title-display,
.read-focus.rf-005 .rm-zoom,
.read-focus.rf-005 .rm-ref-page-view-title,
.read-focus.rf-005 #right-sidebar,
.read-focus.rf-005 .window-headers,
.read-focus.rf-005 .rm-sidebar-window__controls {
  opacity: 0.05;
}
.read-focus.rf-01 .roam-sidebar-container,
.read-focus.rf-01 .rm-topbar,
.read-focus.rf-01 .rm-title-display,
.read-focus.rf-01 .rm-zoom,
.read-focus.rf-01 .rm-ref-page-view-title,
.read-focus.rf-01 #right-sidebar,
.read-focus.rf-01 .window-headers,
.read-focus.rf-01 .rm-sidebar-window__controls {
  opacity: 0.1;
}
.read-focus.rf-02 .roam-sidebar-container,
.read-focus.rf-02 .rm-topbar,
.read-focus.rf-02 .rm-title-display,
.read-focus.rf-02 .rm-zoom,
.read-focus.rf-02 .rm-ref-page-view-title,
.read-focus.rf-02 #right-sidebar,
.read-focus.rf-02 .window-headers,
.read-focus.rf-02 .rm-sidebar-window__controls {
  opacity: 0.2;
}
.read-focus.rf-03 .roam-sidebar-container,
.read-focus.rf-03 .rm-topbar,
.read-focus.rf-03 .rm-title-display,
.read-focus.rf-03 .rm-zoom,
.read-focus.rf-03 .rm-ref-page-view-title,
.read-focus.rf-03 #right-sidebar,
.read-focus.rf-03 .window-headers,
.read-focus.rf-03 .rm-sidebar-window__controls {
  opacity: 0.3;
}
.read-focus.rf-05 .roam-sidebar-container,
.read-focus.rf-05 .rm-topbar,
.read-focus.rf-05 .rm-title-display,
.read-focus.rf-05 .rm-zoom,
.read-focus.rf-05 .rm-ref-page-view-title,
.read-focus.rf-05 #right-sidebar,
.read-focus.rf-05 .window-headers,
.read-focus.rf-05 .rm-sidebar-window__controls {
  opacity: 0.5;
}
.read-focus .roam-sidebar-container:hover,
.read-focus .rm-topbar:hover,
.read-focus .rm-title-display:hover,
.read-focus .rm-zoom:hover,
.read-focus .rm-ref-page-view-title:hover,
.read-focus #right-sidebar:hover,
.read-focus .window-headers:hover,
.read-focus .rm-sidebar-window__controls:hover {
  opacity: 1;
  transition: opacity 1s ease;
}

.read-focus .rm-block-main {
  transition: opacity 0.5s ease;
}

.read-focus .roam-article:hover .rm-block-main:hover,
.read-focus .roam-article:hover .controls:hover,
.read-focus .roam-article:hover .rm-multibar:hover,
.read-focus .roam-article:hover .rm-title-display:hover,
.read-focus .roam-article:hover .rm-zoom:hover,
.read-focus #right-sidebar:hover .rm-block-main:hover {
  opacity: 1 !important;
  transition: opacity 0.5s ease;
  /*transition: transform 0.3s ease;
  transform: scale(1.15) translateX(8%);*/
}
.read-focus.rf-0
  .roam-article:hover
  .rm-block-main:has(:not(.rm-block__input--active)),
.read-focus.rf-0 .roam-article:hover .controls,
.read-focus.rf-0 .roam-article:hover .rm-block-main:hover .rm-multibar,
.read-focus.rf-0 .roam-article:hover .rm-multibar,
.read-focus.rf-0 #right-sidebar:hover .rm-block-main {
  opacity: 0;
  transition: opacity 1s ease;
}
.read-focus.rf-003
  .roam-article:hover
  .rm-block-main:has(:not(.rm-block__input--active)),
.read-focus.rf-003 .roam-article:hover .controls,
.read-focus.rf-003 .roam-article:hover .rm-block-main:hover .rm-multibar,
.read-focus.rf-003 .roam-article:hover .rm-multibar,
.read-focus.rf-003 #right-sidebar:hover .rm-block-main {
  opacity: 0.03;
  transition: opacity 1s ease;
}
.read-focus.rf-005
  .roam-article:hover
  .rm-block-main:has(:not(.rm-block__input--active)),
.read-focus.rf-005 .roam-article:hover .controls,
.read-focus.rf-005 .roam-article:hover .rm-block-main:hover .rm-multibar,
.read-focus.rf-005 .roam-article:hover .rm-multibar,
.read-focus.rf-005 #right-sidebar:hover .rm-block-main {
  opacity: 0.05;
  transition: opacity 1s ease;
}
.read-focus.rf-01
  .roam-article:hover
  .rm-block-main:has(:not(.rm-block__input--active)),
.read-focus.rf-01 .roam-article:hover .controls,
.read-focus.rf-01 .roam-article:hover .rm-block-main:hover .rm-multibar,
.read-focus.rf-01 .roam-article:hover .rm-multibar,
.read-focus.rf-01 #right-sidebar:hover .rm-block-main {
  opacity: 0.1;
  transition: opacity 1s ease;
}
.read-focus.rf-02
  .roam-article:hover
  .rm-block-main:has(:not(.rm-block__input--active)),
.read-focus.rf-02 .roam-article:hover .controls,
.read-focus.rf-02 .roam-article:hover .rm-block-main:hover .rm-multibar,
.read-focus.rf-02 .roam-article:hover .rm-multibar,
.read-focus.rf-02 #right-sidebar:hover .rm-block-main {
  opacity: 0.2;
  transition: opacity 1s ease;
}
.read-focus.rf-03
  .roam-article:hover
  .rm-block-main:has(:not(.rm-block__input--active)),
.read-focus.rf-03 .roam-article:hover .controls,
.read-focus.rf-03 .roam-article:hover .rm-block-main:hover .rm-multibar,
.read-focus.rf-03 .roam-article:hover .rm-multibar,
.read-focus.rf-03 #right-sidebar:hover .rm-block-main {
  opacity: 0.3;
  transition: opacity 1s ease;
}
.read-focus.rf-05
  .roam-article:hover
  .rm-block-main:has(:not(.rm-block__input--active)),
.read-focus.rf-05 .roam-article:hover .controls,
.read-focus .roam-article:hover .rm-block-main:hover .rm-multibar,
.read-focus.rf-05 .roam-article:hover .rm-multibar,
.read-focus.rf-05 #right-sidebar:hover .rm-block-main {
  opacity: 0.5;
  transition: opacity 1s ease;
}
.read-focus .block-highlight-blue,
.read-focus .rm-block-main:has(.rm-block__input--active) {
  opacity: 1 !important;
  transition: opacity 0.3s ease;
}
.read-focus #reading-mode-button {
  opacity: 1 !important;
}

/*
.rm-article-wrapper:not(.rm-block-main:hover):hover .rm-block-main {
  opacity: 1;
}*/

.chevrons {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 130px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.middle {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.chevron {
  opacity: 0.1;
  cursor: default;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: grey;
  transition: 0.3s ease;
}
@media only screen and (max-width: 1024px) {
  .chevron {
    opacity: 0.3;
  }
}
.chevron:hover {
  opacity: 0.6;
}

.top-chevron {
  transform: rotate(90deg);
}
.top-chevron:hover {
  transform: rotate(90deg) translateX(-2px);
}
.bottom-chevron {
  transform: rotate(90deg);
}
.bottom-chevron:hover {
  transform: rotate(90deg) translateX(2px);
}
.top-chevron:active,
.bottom-chevron:active {
  transform: rotate(90deg) translateX(0px);
}

.right-chevron {
}
.right-chevron:hover {
  transform: translateX(2px);
}
.left-chevron {
}
.left-chevron:hover {
  transform: translateX(-2px);
}
.right-chevron:active,
.left-chevron:active {
  transform: translateX(0px);
}

.bottom-chevron.double-chevron {
  position: relative;
  top: 14px;
}
.bottom-chevron.double-chevron::after {
  position: relative;
  left: -20px;
  content: "〉";
}

.chevron.top-chevron-anim,
.chevron.bottom-chevron-anim {
  animation: vertical-chevron-grow 1s forwards;
}
.chevron.left-chevron-anim,
.chevron.right-chevron-anim {
  animation: horizontal-chevron-grow 1s forwards;
}
@keyframes vertical-chevron-grow {
  0% {
    transform: rotate(90deg);
    opacity: initial;
  }
  50% {
    transform: rotate(90deg) scale(1.3);
    opacity: 0.6;
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes horizontal-chevron-grow {
  0% {
    opacity: initial;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.6;
  }
  /* 
  100% {
    transform: rotate(90deg) scale(1);
  } */
}

.tag-input {
  background-color: var(--bc-settings__input, #182026);
}
