.reading-mode-popover-menu {
  max-width: 400px;
  padding: 10px;
}

.reading-mode-slider-section {
  padding: 6px 12px;
}

.reading-mode-slider-container:not(:last-of-type) {
  margin-bottom: 10px;
}

.reading-mode-slider-label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

.reading-mode-sample-container {
  margin-bottom: 10px;
}

.reading-mode-popover-menu .bp3-html-select select {
  font-size: 12px;
}
